images/*
json/*
prompts/*
prompts_mise_au_propre/*
resultats/*
resultats_mise_au_propre/*
resultats_save/*
text/*
*.gpkg
*.json
*.pdf
*.txt
Grouchy/*
Hiller/*
images/*
images_T2/*
images_T3/*
images_T4/*
Mormant/*
Petiet/*
*.pyc
*.sqlite3

keys.txt

*.log