images/*
json/*
prompts/*
prompts_mise_au_propre/*
resultats/*
resultats_mise_au_propre/*
resultats_save/*
text/*
*.gpkg
*.json
*.pdf
*.txt
Grouchy/*
Hiller/*
images/*
images_T2/*
images_T3/*
images_T4/*
Mormant/*
Petiet/*
Fabvier/*
Koch_T1/*
Bogdanovich_T1/*
Bogdanovich_T2/*
Bouvier/*
Calmon_Maison/*
duCasse/*
Foch/*
Koch_T1/*
Koch_T2/*
Marmont/*
Segur/*
*.pyc
*.sqlite3

keys.txt

*.log

liste_combats.py

settings.py


carte_unites/carte/static/fond_carte/*
cartographie/*