{% load static %}
<!DOCTYPE html>
<html lang="fr">
    
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">




    </style>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>Carte de la campagne de France (Déc 1813 - Avril 1814)</h1>

        <div class="faq-actions">
            <a href="{% url 'carte:carte' %}">Carte</a>
            <a href="{% url 'carte:contact' %}">Contact</a>
        </div>
    </header>

    <div class="main-container-contact">
        <h2>Formulaire de contact</h2>
        <p>
            Si vous souhaitez avoir plus d'informations sur la partie technique ou bien suggérer de nouvelles fonctionnalités, n'hésitez pas ! Je serai ravi d'en discuter.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>

    </div>

    
</body>
</html>