<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Carte des armées napoléoniennes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Importation des bibliothèques MapLibre GL JS -->
  <link href="https://unpkg.com/maplibre-gl@^5.5.0/dist/maplibre-gl.css" rel="stylesheet" />
  <script src="https://unpkg.com/maplibre-gl@^5.5.0/dist/maplibre-gl.js"></script>

  <!-- Importation des bibliothèques Carte Facile -->
  <link href="https://unpkg.com/carte-facile@^0.7.1/dist/carte-facile.css" rel="stylesheet" />
  <script src="https://unpkg.com/carte-facile@^0.7.1/dist/carte-facile.js"></script> 

  <!-- Choices.js -->
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #1f2937;
      color: white;
      padding: 1rem;
      text-align: center;
    }

    .controls {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      background-color: #f3f4f6;
      flex-wrap: wrap;
    }

    .controls form {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
    }

    .controls label {
      width: 400px;
      margin-bottom: 0.5rem;
    }

    #map {
      height: 600px;
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <h1>Carte des armées napoléoniennes (Déc 1813 - Avril 1814)</h1>
  </header>

  <section class="controls">
    <form id="unitForm">
      <label for="unitSelect">Sélectionner une unité :</label>
      <select id="unitSelect"></select>
    </form>

    <form id="dateForm">
      <label for="dateSelect">Sélectionner une date :</label>
      <input type="date" id="dateSelect" min="1813-12-01" max="1814-04-30" value="1813-12-01">
    </form>
    <button onclick="decrementDate()">Jour précédent</button>
    <button onclick="incrementDate()">Jour suivant</button>


    <div id="filters">
      <label><input type="checkbox" name="type" id="planifieSelect"> Retirer les lieux objectifs</label>
    </div>
  </section>

  <div id="map"></div>



  <script>
    // Création la carte
    let map = new maplibregl.Map({
        container: 'map', // id du conteneur de la carte
        style: CarteFacile.mapStyles.simple, // style de carte
        maxZoom: 18.9, // niveau de zoom maximum, adapté aux cartes utilisant les données IGN
    });
    const scale = new maplibregl.ScaleControl({
      maxWidth: 80,
      unit: 'imperial'
    });
    const nav = new maplibregl.NavigationControl();
    map.addControl(nav, 'top-right');

    const circle_color = [
      'match',
      ['get', 'camp'],
      'FRANCAIS', '#1d4ed8',     // bleu
      'COALISES', '#e74c3c',     // rouge
      '#cccccc'
    ]

    // Instanciation des couches
    map.addControl(scale);
    // Couche position
    map.on('load', () => {
      map.addSource('positions', {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: []
        }
      });
      map.addLayer({
        id: 'unit-points',
        type: 'circle',
        source: 'positions',
        paint: {
          'circle-radius': 6,
          'circle-color': circle_color,
          'circle-stroke-width': 1,
          'circle-stroke-color': '#fff'
        }
      });
      map.addLayer({
        id: 'unites-labels',
        type: 'symbol',
        source: 'positions',
        layout: {
          'text-field': ['get', 'unite'], // ou un autre champ comme 'type'
          'text-offset': [0, 1.2],
          'text-anchor': 'top'
        },
        paint: {
          'text-color': '#000',
          'text-halo-color': '#fff',
          'text-halo-width': 1
        }
      });
      // Couche avec les flèches de déplacements
      map.addSource('trajets', {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: []
        }
      });
      map.addLayer({
        id: 'arrows',
        type: 'line',
        source: 'trajets',
        paint: {
          'line-color': circle_color,   // Rouge
          'line-width': 1,
          'line-opacity': 0.8
        }
      });
    });

    // Pop-up sur les positions
    map.on('click', 'unit-points', (e) => {
      const coordinates = e.features[0].geometry.coordinates.slice();
      const props = e.features[0].properties;

      const popupContent = `
        <strong>${props.unite}</strong>
        <br>${props.date}<br>
        <br>${props.lieu}<br>
        <br>Effectif: ${props.effectif}<br>
        <br>Planifié: ${props.planifie}<br>
        <br>Extrait: ${props.justification}<br>
        <br>Source: ${props.source}<br>
      `;

      new maplibregl.Popup()
        .setLngLat(coordinates)
        .setHTML(popupContent)
        .addTo(map);
    });

    

    CarteFacile.addOverlay(map, CarteFacile.Overlay.levelCurves);

    // Mise à jour de la carte lors de la sélection d'une unité
    document.getElementById('unitSelect').addEventListener('change', function () {
      const selectedUnit = this.value;

      fetch(`/positions_par_unite?unite=${selectedUnit}`)
        .then(res => res.json())
        .then(data => {
          if (map.getSource('positions')) {
            map.getSource('positions').setData(data["position"]);
            map.setLayoutProperty('unites-labels', 'text-field', ['get', 'date']);
            map.getSource('trajets').setData(data["arrows"]);                        
          }
        })
      });

    // Mise à jour de la carte lors de la sélection d'une date
    document.getElementById('dateSelect').addEventListener('change', function () {
      const selectedDate = this.value;
      updateDataDate(selectedDate);
      
      });



      function updateDataDate(selectedDate) {
        fetch(`/positions_par_date?date=${selectedDate}`)
        .then(res => res.json())
        .then(data => {
          if (map.getSource('positions')) {
            map.getSource('positions').setData(data["position"]);
            map.setLayoutProperty('unites-labels', 'text-field', ['get', 'unite']);
            map.getSource('trajets').setData(data["arrows"]);
          }
        })
        
      }

    
      // Filtre sur l'état "planifié" des positions
      document.getElementById('filters').addEventListener('change', (e) => {
      const value = document.getElementById("planifieSelect").checked;     

      // Si "Tous", on retire le filtre
      if  (value) {
        map.setFilter('unit-points', ['==', ['get', 'planifie'], false]);
        map.setFilter('unites-labels', ['==', ['get', 'planifie'], false]);
      } else {
        // Sinon, on applique un filtre sur la propriété "type"
        map.setFilter('unit-points', null);
        map.setFilter('unites-labels', null);
      }
    });

    // On remplit le <select> avec le nom des unités
    fetch('/units/')
    .then(response => response.json())
    .then(data => {
      const unitSelect = document.getElementById('unitSelect');
      // Remplir manuellement le <select>
      data.forEach(unit => {
        const option = document.createElement('option');
        option.value = unit.id;
        option.text = unit.text;
        unitSelect.appendChild(option);
      });

      // Initialiser Choices.js après ajout
      new Choices('#unitSelect');
    });





    function decrementDate() {
        const input = document.getElementById('dateSelect');
        if (input.value) {
            const currentDate = new Date(input.value);
            currentDate.setDate(currentDate.getDate() - 1); // soustrait 1 jour
            input.value = currentDate.toISOString().split('T')[0];
        } else {
            const today = new Date();
            today.setDate(today.getDate() - 1);
            input.value = today.toISOString().split('T')[0];
        }
        updateDataDate(input.value);
    }


    // Increment date
    function incrementDate() {
    const input = document.getElementById('dateSelect');
    if (input.value) {
        const currentDate = new Date(input.value);
        currentDate.setDate(currentDate.getDate() + 1); // ajoute 1 jour
        input.value = currentDate.toISOString().split('T')[0]; // format YYYY-MM-DD
    } else {
        // Si aucune date sélectionnée, mettre aujourd’hui + 1
        const today = new Date();
        today.setDate(today.getDate() + 1);
        input.value = today.toISOString().split('T')[0];
    }
    updateDataDate(input.value);
  }

    

  </script>
</html>
