name: remote ssh command
on:
  push:
    branches: 
      - main
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }} 
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /root/Weil_1814/carte_unites
          source /var/www/pythonenv/bin/activate
          git pull
          pip3 install -r requirements.txt
          python manage.py collectstatic --noinput
          python manage.py migrate
          sudo systemctl restart nginx
          sudo systemctl restart gunicorn